html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

.main-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px; /* Adjust the height of the shadow as needed */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.869) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: -1;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('bg_image1.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
}

.login-box {
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: left;
  width: 330px;
  margin-top: 10px;
  margin-bottom: 50px; /* Adjust this value to control the space between the login box and the footer */
}

.logo {
  margin-top: 8px;
  width: 220px;
  margin-bottom: 50px;
}

form {
  align-self: center;
  display: flex;
  flex-direction: column;
}

input {
  padding: 12px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: none; /* Remove border */
  border-bottom: 1px solid #33333350; /* Add underline */
  border-radius: 0; /* Remove border-radius */
  outline: none; /* Remove default focus outline */
  background: transparent; /* Make background transparent */
  font-size: 18px;
  font-weight: 400;
}

input:focus {
  border-bottom: 1px solid #002d3595; /* Adjust underline thickness and color on focus */
}

.forgot-password a {
  color: #217de7;
  text-decoration: none;
  font-size: 14px;
  margin-top: 10px;
  display: block;
}

.CheckBoxes {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.CheckBoxes input {
  margin-right: 5px;
  transform: scale(1.5); /* Scale the checkbox to make it slightly bigger */
}

.CheckBoxes label {
  margin-bottom: 10px;
  margin-left: 5px;
  color: #333;
  font-weight: 1;
}

button {
  background-color: #216bff;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 700;
}

button:hover {
  background-color: #0056b3;
}

.signup {
  margin-top: 20px;
  color: #333;
  font-size: 14px;
  font-weight: 600;
}

.signup a {
  color: #0070f3;
  text-decoration: none;
  font-weight: 700;
}

.footer-container {
  background-color: #fff;
  padding: 20px;
  width: 100%;
  text-align: center;
  margin-top: -170px;
}

.social-icons {
  opacity: 0.7;
  margin-left: -20px;
}

.social-icons a {
  width: 1px;
}

.footer-links {
  margin: 20px auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -14px; /* Adjust the margin on the left side */
  margin-right: 25px; /* Adjust the margin on the right side */
}

.footer-links a {
  color: #4f4f4f;
  text-decoration: none;
  display: block;
  margin: 0 4px; /* Adjust the minimum margin between links */
  font-size: 11px;
}

.footer-links p {
  color: #666;
  margin-top: 15px;
  font-size: 11px;
  width: 100%; /* Make sure the paragraph takes up the full width */
  box-sizing: border-box; /* Include padding and border in the width calculation */
}

.social-icons a {
  margin: 0 5px; /* Add margin for spacing between icons */
}

.social-icons img {
  width: 20px;
  height: auto;
}

.line {
  width: 70%;
  border-top: 1px solid #cccccc; /* Adjust the color of the line */
  margin: 20px auto;
}

/* Add styles for the smaller and upward movement of the placeholder */
input:focus::placeholder,
input:valid::placeholder {
  font-size: 15px; /* Adjust the font size as needed */
  transform: translateY(-20px); /* Adjust the upward movement as needed */
  transition: all 0.3s ease; /* Add a smooth transition effect */
}

/* Popup styles */
.popup {
  display: none;
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 330px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.98);
  color: #fc2c54;
  border-radius: 8px;
  text-align: left;
  z-index: 2;
}

.close-popup {
  position: absolute;
  top: 20px;
  right: 25px;
  cursor: pointer;
}

.popup-icon {
  height: 1em; /* Adjust as needed */
  margin-right: 10px; /* Adjust for spacing */
}

.popup-text {
  display: inline-block; /* Ensures text wraps correctly */
}

#popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  z-index: 1; /* Place it above other elements */
}

/* Responsive styles */
@media (max-width: 768px) {
  .popup {
    width: 310px;
    top: 50%;
  }

  .login-box {
    width: 310px;
  }

  .footer-container {
    margin-top: -120px; /* Adjust this value to create space between login box and footer on smaller screens */
  }

  .logo {
    margin-top: 6px;
    margin-bottom: 6px;
  }

  .line {
    width: 150%;
    margin-left: -50px;
  }

  .footer-links a {
    margin: 0 4px; /* Adjust the margin between links */
  }

  .social-icons {
    margin-left: -20px;
  }

  .CheckBoxes input {
    transform: scale(0.8); /* Scale the checkbox to make it slightly bigger */
  }
}
